body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin:  0;
    padding:  0;
}
h1 {
    text-align: center;
    margin: auto;
    padding:  0px  0;
    background-color: #333;
    color: #fff;
}
/* Table */
table {
    margin: auto;
    width: calc(100% - 200px);
    border-collapse: collapse;
}
/* Table headers */
th {
    background-color: #333;
    color: #fff;
    padding: 8px;
    text-align: left;
}
/* Table cells */
td {
    border: 1px solid #ddd;
    padding: 8px;
}
/* Alternating row colors */
tr:nth-child(even) {
    background-color: #f2f2f2;
}
/* Form styles */
.customer-form {
    width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="submit"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

details {
  text-align: center;
}

summary {
  display: inline-block;
  width: fit-content; /* Ensure summary only takes the width of its content */
  cursor: pointer;
  padding: 10px;
}

/* Custom styling for summary arrow */
summary::-webkit-details-marker {
  display: none; /* Hide default arrow in WebKit browsers */
}

summary::before {
  /* content: '▼'; /* Custom arrow icon */ */
  display: inline-block;
  margin-right: 5px; /* Add space between arrow and text */
  transform: rotate(90deg); /* Rotate arrow to point down */
}

.error-message {
  width: 100%;
  text-align: center;
}

nav {
/*   position: fixed; */
/*   top:  0; */
/*   left:  0; */
/*   width:  100%; */
  background-color: #333; /* or any other color */
/*   z-index:  1000; /* to ensure it stays above content */ */

}
/* styles.css */

.menu {
  background-color: #333;
  color: #fff;
  width: 100%;
  margin: 0;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.menu ul li {
  display: inline;
}

.menu ul li a {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

.menu ul li a:hover {
  background-color: #555;
}
