<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/../static/styles.css">
    <title>Customers</title>
</head>
<body>
    <h1>Customers</h1>
    <form action="/customers" method="post">
        <label for="FirstName">First Name:</label>
        <input type="text" id="FirstName" name="FirstName" required><br>
        
        <label for="LastName">Last Name:</label>
        <input type="text" id="LastName" name="LastName" required><br>

        <label for="Email">Email:</label>
        <input type="Email" id="Email" name="Email" required><br>
        
        <label for="Phone">Phone Number:</label>
        <input type="tel" id="Phone" name="Phone" pattern="^(0[2-5])?[0-9]{8}$" required><br>
        
        <input type="submit" value="Add Customer">
    </form>
<ul>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Customers }}
            <tr>
                <td>{{ .CustomerID }}</td>
                <td>{{ .FirstName }}</td>
                <td>{{ .LastName }}</td>
                <td>{{ .Email }}</td>
                <td>{{ .Phone }}</td>
            </tr>
        {{ else }}
            <tr>
                <td colspan="5">No customers found.</td>
            </tr>
        {{ end }}
    </tbody>
</table>
{{ if ne .ErrorMessage "" }}
        <p>{{ .ErrorMessage }}</p>
    {{ end }}
</body>
</html>
