<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/../static/styles.css">
</head>
<body>
    <h1>Index</h1>
    <form action="/newInvoice" method="post">
        <input type="submit" value="New Invoice">
    </form>
    <form action="/customers" method="post">
        <input type="submit" value="Customers">
    </form>
    {{ if ne .ErrorMessage "" }}
        <p>{{ .ErrorMessage }}</p>
    {{ end }}
</body>
</html>
