<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="/../static/styles.css">
</head>
<body>
    <h1>index</h1>
    <form action="/invoices" method="post" class="customer-form">
        <input type="submit" value="new invoice">
    </form>
    <form action="/customers" method="get" class="customer-form">
        <input type="submit" value="customers">
    </form>
    <div class="error-message">
    {{ if ne .ErrorMessage "" }}
        <p>{{ .ErrorMessage }}</p>
    {{ end }}
    </div>
</body>
</html>
