<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Invoice</title>
</head>
<body>
    <h1>New Invoice</h1>
    <!-- <form action="/new" method="post"> -->
    <!--     <input type="submit" value="New Invoice"> -->
    </form>
    {{ if ne .ErrorMessage "" }}
        <p>{{ .ErrorMessage }}</p>
    {{ end }}
</body>
</html>
