<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin:  0;
            padding:  0;
        }
        h1 {
            text-align: center;
            padding:  20px  0;
            background-color: #333;
            color: #fff;
        }
        form {
            display: flex;
            justify-content: center;
            align-items: center;
            padding:  20px;
        }
        input[type="submit"] {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding:  15px  32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size:  16px;
            margin:  4px  2px;
            cursor: pointer;
        }
        p {
            text-align: center;
            color: #ff0000;
        }
    </style>
</head>
<body>
    <h1>Add New Customer</h1>
    <form action="/newCustomer" method="post">
        <label for="FirstName">First Name:</label>
        <input type="text" id="FirstName" name="FirstName" required><br>
        
        <label for="LastName">Last Name:</label>
        <input type="text" id="LastName" name="LastName" required><br>

        <label for="Email">Email:</label>
        <input type="Email" id="Email" name="Email" required><br>
        
        <label for="Phone">Phone Number:</label>
        <input type="tel" id="Phone" name="Phone" pattern="^(0[2-5])?[0-9]{8}$" required><br>
        
        <input type="submit" value="Add Customer">
    </form>
    {{ if ne .ErrorMessage "" }}
        <p>{{ .ErrorMessage }}</p>
    {{ end }}
</body>
</html>
