<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/../static/styles.css">
    <title>Login Page</title>
</head>
<body>
    <h1>Add New Customer</h1>
    <form action="/newCustomer" method="post">
        <label for="FirstName">First Name:</label>
        <input type="text" id="FirstName" name="FirstName" required><br>
        
        <label for="LastName">Last Name:</label>
        <input type="text" id="LastName" name="LastName" required><br>

        <label for="Email">Email:</label>
        <input type="Email" id="Email" name="Email" required><br>
        
        <label for="Phone">Phone Number:</label>
        <input type="tel" id="Phone" name="Phone" pattern="^(0[2-5])?[0-9]{8}$" required><br>
        
        <input type="submit" value="Add Customer">
    </form>
    {{ if ne .ErrorMessage "" }}
        <p>{{ .ErrorMessage }}</p>
    {{ end }}
</body>
</html>
